.summary-row{
    padding: 10px;
    border: 1px solid #2dce89;
    margin: 5px;
    font-weight: 400;
}

.summary-header-row{
    padding: 10px;
    border: 1px solid #2dce89;
    margin: 5px;
    background-color: #2dce89;
    color: white;
    font-weight: bold;
}

.opportunity-background{
    background: no-repeat url("./assets/img/opp2.jpg");
    background-position: -69px -28px;
}

.challenge-background{
    background: no-repeat url("./assets/img/challenge.jpg");
    background-position: -240px -59px;
}

.pool-background {
    background: no-repeat url("./assets/img/pool1.jpg");
    background-position: -3px -3px;
    background-size: cover;
}

.font-600{
    font-weight: 600;
}

.skill-badge{
    padding: 8px 10px;
    min-width: 64px;
    margin-right: 5px;
}

.profile-user-name{
    color: #5e72e4;
    font-size: xx-large;
}

.notification-icon{
    height: 35px;
    width: 35px;
    margin-right: 30px;
    position: relative;
}

.notification-img{
    height: inherit;
    width: inherit;
}

.notification-count{
    position: absolute;
    padding: 0px 10px;
    background: red;
    border-radius: 34px;
    top: -1px;
    left: 16px;
    color: white;
    font-weight: 700;
    font-size: small;
}
@media (max-width: 1333px){
    .section-profile-cover {
        height: 460px;
    }
}
